/* .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    filter: drop-shadow(0 0 50px rgba(255, 0, 127, 0.2));
}

.Content img {
    width: 60%;
    height: auto;
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 90%);
    mask-image: radial-gradient(circle, black 50%, transparent 90%);
    margin: 0;
}

.Content h1 {
    color: var(--pink);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
} */

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    flex-direction: column;
}